@using RentOpsWebApp.ViewModels;
@model RentalRequestViewModel;
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3>Request for Rental</h3>
            <h4>Fill in the details and request the equipment for rental.</h4>
        </div>
        <div class="card-body">
            <form asp-action="Request" method="post">
                @Html.AntiForgeryToken()
                <!--display the equipment name in readonly input field-->
                <div class="form-group" >
                    <label asp-for="RentalRequest.Equipment.EquipmentName"></label>
                    <input asp-for="RentalRequest.Equipment.EquipmentName" class="form-control" readonly="readonly" />
                    <span asp-validation-for="RentalRequest.Equipment.EquipmentName" class="text-danger"></span>
                </div>
                <!-- Requester Details -->
                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.User.UserId" class="form-label">User ID</label>
                    <input asp-for="RentalRequest.User.UserId" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.User.FirstName" class="form-label">First Name</label>
                    <input asp-for="RentalRequest.User.FirstName" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.User.LastName" class="form-label">Last Name</label>
                    <input asp-for="RentalRequest.User.LastName" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.User.PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="RentalRequest.User.PhoneNumber" class="form-control" readonly="readonly" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.User.Email" class="form-label">Email Address</label>
                    <input asp-for="RentalRequest.User.Email" class="form-control" readonly="readonly" />
                </div>


                <!-- Rental Request Start Date -->
                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.RentalStartDate" class="form-label">Pickup Date</label>
                    <input asp-for="RentalRequest.RentalStartDate" class="form-control" type="date" id="PickupDate" />
                    <span asp-validation-for="RentalRequest.RentalStartDate" class="text-danger"></span>
                </div>

                <!-- Rental Request End Date -->
                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.RentalReturnDate" class="form-label">Return Date</label>
                    <input asp-for="RentalRequest.RentalReturnDate" class="form-control" type="date" id="ReturnDate"  />
                    <span asp-validation-for="RentalRequest.RentalReturnDate" class="text-danger"></span>
                </div>

                <!-- Total Cost -->
                <div class="form-group mb-3">
                    <label asp-for="RentalRequest.RentalTotalCost" class="form-label">Total Cost</label>
                    <input asp-for="RentalRequest.RentalTotalCost" type="text" class="form-control" id="TotalCost" name="TotalCost"/>
                    <span asp-validation-for="RentalRequest.RentalTotalCost" class="text-danger"></span>
                </div>

				<!-- Rental Request Status -->
                <div class="form-group mb-4">
                    <label asp-for="RentalRequest.RentalRequestStatusId" class="form-label">Availability Status</label>
                    <select asp-for="RentalRequest.RentalRequestStatusId"
                            asp-items="@Model.rentalRequestStatuses.Select(i => new SelectListItem { Text = i.RentalRequestStatusTitle, Value = i.RentalRequestStatusId.ToString() })"
                            class="form-select">
                        <option value="">-- Select Status --</option>
                    </select>
                    <span asp-validation-for="RentalRequest.RentalRequestStatusId" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-info">Save Changes</button>

                <!--Add a Link to go back to the list without deleting-->
                <a asp-controller="RentalRequest" asp-action="RentalRequest" class="btn btn-secondary" style="width:180px">Back to List</a>

            </form>
        </div>
    </div>
</div>

