@using RentOpsWebApp.ViewModels;
@model RentalRequestViewModel;
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //check tempdata for success message
    if (TempData["Error"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Error"]
        </div>
    }

}

<div class="card border-light mt-5 mb-3 w-100">
    <div class="card-header">
        <h3>Customer Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Requester Details -->
            <div class="form-group col-md-6 mb-3">
                <label disabled asp-for="RentalRequest.User.UserId" class="form-label">User ID</label>
                <input disabled asp-for="RentalRequest.User.UserId" class="form-control" readonly="readonly" />
            </div>

            <div class="form-group col-md-6 mb-3">
                <label disabled asp-for="RentalRequest.User.FirstName" class="form-label">First Name</label>
                <input disabled asp-for="RentalRequest.User.FirstName" class="form-control" readonly="readonly" />
            </div>

            <div class="form-group col-md-6 mb-3">
                <label disabled asp-for="RentalRequest.User.LastName" class="form-label">Last Name</label>
                <input disabled asp-for="RentalRequest.User.LastName" class="form-control" readonly="readonly" />
            </div>

            <div class="form-group col-md-6 mb-3">
                <label disabled asp-for="RentalRequest.User.PhoneNumber" class="form-label">Phone Number</label>
                <input disabled asp-for="RentalRequest.User.PhoneNumber" class="form-control" readonly="readonly" />
            </div>

            <div class="form-group col-md-6 mb-3">
                <label disabled asp-for="RentalRequest.User.Email" class="form-label">Email Address</label>
                <input disabled asp-for="RentalRequest.User.Email" class="form-control" readonly="readonly" />
            </div>
        </div>
    </div>
</div>




<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3>Request for Rental</h3>
            <h4>Fill in the details and request the equipment for rental.</h4>
        </div>
        <div class="card-body">
            <form asp-action="Review" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <!--Add the rental request id in a hidden field-->
                <input type="hidden" name="RentalRequest.RentalRequestId" value="@Model.RentalRequest.RentalRequestId" />
                <!--display the equipment name in readonly input field-->
                <div class="form-group" >
                    <label disabled asp-for="RentalRequest.Equipment.EquipmentName"></label>
                    <input disabled asp-for="RentalRequest.Equipment.EquipmentName" class="form-control" readonly="readonly" />
                </div>

                <!-- Rental Request Start Date -->
                <div class="form-group mb-3">
                    <label disabled asp-for="RentalRequest.RentalStartDate" class="form-label">Pickup Date</label>
                    <input disabled asp-for="RentalRequest.RentalStartDate" class="form-control" type="date" id="PickupDate" />

                </div>

                <!-- Rental Request End Date -->
                <div class="form-group mb-3">
                    <label disabled asp-for="RentalRequest.RentalReturnDate" class="form-label">Return Date</label>
                    <input disabled asp-for="RentalRequest.RentalReturnDate" class="form-control" type="date" id="ReturnDate" />
                </div>

                <!-- Total Cost -->
                <div class="form-group mb-3">
                    <label disabled asp-for="RentalRequest.RentalTotalCost" class="form-label">Total Cost</label>
                    <input disabled asp-for="RentalRequest.RentalTotalCost" type="text" class="form-control" id="TotalCost" name="TotalCost" />
                </div>

                <!-- Requested Deposit -->
                <div class="form-group mb-3">
                    <label asp-for="NewRentalTransaction.Deposit" class="form-label">Deposit</label>
                    <input asp-for="NewRentalTransaction.Deposit" type="text" class="form-control" />
                </div>

				<!-- Rental Request Status -->
                <div class="form-group mb-4">
                    <label asp-for="RentalRequest.RentalRequestStatusId" class="form-label">Availability Status</label>
                    <select asp-for="RentalRequest.RentalRequestStatusId"
                            asp-items="@Model.rentalRequestStatuses.Select(i => new SelectListItem { Text = i.RentalRequestStatusTitle, Value = i.RentalRequestStatusId.ToString() })"
                            class="form-select">
                        <option value="">-- Select Status --</option>
                    </select>
                    <span asp-validation-for="RentalRequest.RentalRequestStatusId" class="text-danger"></span>
                </div>

                <!--An optional file upload for required rental agreements-->
                <div>
                    <label asp-for="UploadedAgreement" class="form-label mt-4">Attach a Rental Agreement (optional)</label>
                    <input asp-for="UploadedAgreement" class="form-control" type="file" accept=".pdf">
                    <span asp-validation-for="UploadedAgreement" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-info">Save Changes</button>

                <!--Add a Link to go back to the list without deleting-->
                <a asp-controller="RentalRequest" asp-action="RentalRequest" class="btn btn-secondary" style="width:180px">Back to List</a>

            </form>
        </div>
    </div>
</div>

