@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<!--check view bag for errormessage-->
@if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger" role="alert">
		@ViewBag.ErrorMessage.ToString()
	</div>
}
else
{
	<div class="alert alert-danger" role="alert">
		An unexpected error occurred. Please try again later.
	</div>
}

<!--display the error image -->
@* <img src="~/images/error.png" alt="Error Image" class="img-fluid" /> *@